# Configurações do Banco de Dados PostgreSQL
DATABASE_URL=postgres://usuario:senha@localhost:5432/realrevision

# Segredo para assinatura de tokens JWT
JWT_SECRET=seu_jwt_secret_super_seguro_aqui

# Porta do servidor da API
PORT=5000
